.w{
    font-family: 'Bicubik';
font-style: normal;
font-weight: 400;
font-size: 48px;
line-height: 131.02%;
}
.ew{
    font-family: 'AC Line';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 131.02%;


color: #FFFFFF;

}
.ww{
    font-family: 'AC Line';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 131.02%;


color: #FFFFFF;
}


