.e{
    font-family: 'Bicubik';
font-style: normal;
font-weight: 400;
font-size: 48px;
line-height: 131.02%;
}


.ew{
    font-family: 'AC Line';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 131.02%;



color: #FFFFFF;


}



